
body {
    display: flex;
  
    justify-content: center;
}

.grid-container {
    border: 1px solid black;
}

.grid {
    display: grid;
    gap: 1px;
    width: 50rem;
    height: 50rem;
}

.grid div {
    height: auto;
    width:  auto; 
}


.blue {
    background: blue;
}